@model IEnumerable<Firmness.Core.Entities.Sale>

@{
    ViewData["Title"] = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3">Sales</h1>
    <div>
        <a class="btn btn-primary" asp-action="Create">New Product</a>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Date Created</th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
</tbody>
</table>
